<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- SEO -->
    <title>internetorg.fi</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ env.URL_BASE }}assets/media/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ env.URL_BASE }}assets/media/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ env.URL_BASE }}assets/media/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ env.URL_BASE }}assets/media/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ env.URL_BASE }}assets/media/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ env.URL_BASE }}assets/media/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ env.URL_BASE }}assets/media/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ env.URL_BASE }}assets/media/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ env.URL_BASE }}assets/media/images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ env.URL_BASE }}assets/media/images/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ env.URL_BASE }}assets/media/images/favicon-160x160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ env.URL_BASE }}assets/media/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ env.URL_BASE }}assets/media/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ env.URL_BASE }}assets/media/images/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="{{ env.URL_BASE }}assets/media/images/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#ff0000">

    <script>
        /*! grunt-grunticon Stylesheet Loader - v2.1.6 | https://github.com/filamentgroup/grunticon | (c) 2015 Scott Jehl, Filament Group, Inc. | MIT license. */

!function(){function e(e,n,t,o){"use strict";var a=window.document.createElement("link"),i=n||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return a.rel="stylesheet",a.href=e,a.media="only x",o&&(a.onload=o),i.parentNode.insertBefore(a,i),a.onloadcssdefined=function(n){for(var t,o=0;o<d.length;o++)d[o].href&&d[o].href.indexOf(e)>-1&&(t=!0);t?n():setTimeout(function(){a.onloadcssdefined(n)})},a.onloadcssdefined(function(){a.media=t||"all"}),a}function n(e,n){e.onload=function(){e.onload=null,n&&n.call(e)},"isApplicationInstalled"in navigator&&"onloadcssdefined"in e&&e.onloadcssdefined(n)}!function(t){var o=function(a,i){"use strict";if(a&&3===a.length){var d=t.navigator,r=t.document,l=t.Image,s=!(!r.createElementNS||!r.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!r.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||t.opera&&-1===d.userAgent.indexOf("Chrome")||-1!==d.userAgent.indexOf("Series40")),c=new l;c.onerror=function(){o.method="png",o.href=a[2],e(a[2])},c.onload=function(){var t=1===c.width&&1===c.height,d=a[t&&s?0:t?1:2];t&&s?o.method="svg":t?o.method="datapng":o.method="png",o.href=d,n(e(d),i)},c.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==",r.documentElement.className+=" grunticon"}};o.loadCSS=e,o.onloadCSS=n,t.grunticon=o}(this)}();

        grunticon([
            "/assets/media/images/icons/icons.data.svg.css",
            "/assets/media/images/icons/icons.data.png.css",
            "/assets/media/images/icons/icons.fallback.css"
        ], grunticon.svgLoadedCallback);
    </script>
    <noscript><link href="/assets/media/images/icons/icons.fallback.css" rel="stylesheet"></noscript>

    <!-- STYLESHEETS -->
    {{#block "styles"}}
        <link rel="stylesheet" media="screen, projection" href="assets/styles/screen.css" />
    {{/block}}

    <!-- POLYFILLS -->
    {{#block "scriptsHead"}}
        <!-- build:js assets/scripts/head.js -->
        <!-- endbuild -->
    {{/block}}
</head>
<body>
    <!-- CONTENT -->
    {{#block "body"}}
    {{/block}}

    <!-- JAVASCRIPT -->
    {{#block "scriptsBody"}}
        <script src="assets/vendor/jquery/jquery.min.js"></script><!-- replace by WP version -->
        <!-- build:js assets/scripts/require.js -->
        <script src="assets/vendor/requirejs/require.js"></script>
        <script src="assets/scripts/config.js"></script>
        <!-- endbuild -->
        <script>
            /**
             * Global constants
             *
             * TODO: ideally these values would be filled in from the server side
             *
             * @class SETTINGS
             * @static
             */
            window.SETTINGS = {};

            /**
             * Indicates whether we are running on a production environment
             *
             * @property IS_PRODUCTION
             * @type Boolean
             * @final
             */
            SETTINGS.IS_PRODUCTION = false;

            /**
             * Appended to query string for versioning of network resources (CSS,
             * JavaScript, etc). This version number should be updated in production
             * for every release.
             *
             * @property APP_VERSION
             * @type {String}
             * @final
             */
            SETTINGS.APP_VERSION = '1.0.0';

             /**
             * Set to true to allow application to output to browser console, false
             * to silence all console output. This should be set to `false` on
             * production.
             *
             * @property LOG_CONSOLE
             * @type Boolean
             * @final
             */
            SETTINGS.LOG_CONSOLE = !SETTINGS.IS_PRODUCTION;

            /**
             * Appended to query string to defeat caching of network resources (CSS,
             * JavaScript, etc). Should be set to '' on production
             *
             * @property CACHE_BUSTER
             * @type String
             * @final
             */
            SETTINGS.CACHE_BUSTER = SETTINGS.IS_PRODUCTION ? '' : '&bust=' + Math.random();

            /**
             * Root path for all JavaScript files
             *
             * @property SCRIPT_PATH
             * @type String
             * @final
             */
            SETTINGS.SCRIPT_PATH = 'assets/scripts/';

            /**
             * Set any RequireJs configuration that is dependent on dynamic
             * configuration variables. Note that this config data is merged into
             * any other require.config() statements defined elsewhere.
             */
            require.config({
                // Script path
                baseUrl: SETTINGS.SCRIPT_PATH,

                // Params to append to the end of each js file request
                urlArgs: 'v=' + SETTINGS.APP_VERSION + SETTINGS.CACHE_BUSTER
            });

            /**
             * Set route and kick off RequireJs, which begins loading of scripts
             * starting from main.js.
             */
            require(['main']);
        </script>
    {{/block}}
</body>
</html>
