<div class="resultsList-list-item">
    <div class="feature feature_tight">
        <div class="feature-hd">
            <a href="{{url}}"
               class="mix-link_small js-stateLink"
               {{#if isStory}}
                   data-type="panel"
                   data-theme="approach"
               {{else if image}}
                    data-type="panel"
                    data-theme="approach"
               {{ else }}
                    data-type="titled"
               {{/if}}
               data-title="{{title}}"
               data-date="{{date}}"

               data-image="{{image}}"
               {{#if imageurl}}
               data-image-display="{{imageurl}}"
               {{/if}}
               {{#if videourl}}
               data-video="{{videourl}}"
               {{/if}}
               {{#if storypage}}
               data-story-page="{{storypage}}" 
               {{/if}}
               {{#if headercolor}}
               data-header-color="{{headercolor}}" 
               {{/if}}
               {{#if headerimgcolor}}
               data-header-img-color="{{headerimgcolor}}"
               {{/if}}
               data-mobile-image="{{mobileImage}}"
                {{#if isPost}}
                    data-social="true"
                {{/if}}><h2 class="hdg hdg_4">{{{title}}}</h2></a>
        </div>
        {{{media_embed}}}
        <div class="feature-bd">
            <p class="bdcpy">{{{desc}}}</p>
        </div>
        <div class="feature-cta">
            <a href="{{url}}"
               class="link mix-link_small js-stateLink"
               {{#if isStory}}
                   data-type="panel"
                   data-theme="approach"
                {{else if image}}
                    data-type="panel"
                    data-theme="approach"
               {{ else }}
                    data-type="titled"
               {{/if}}
               data-title="{{title}}"
               data-date="{{date}}"
               data-image="{{image}}"
               {{#if imageurl}}
               data-image-display="{{imageurl}}"
               {{/if}}
               {{#if videourl}}
               data-video="{{videourl}}"
               {{/if}}
               {{#if storypage}}
               data-story-page="{{storypage}}" 
               {{/if}}
               {{#if headercolor}}
               data-header-color="{{headercolor}}" 
               {{/if}}
               {{#if headerimgcolor}}
               data-header-img-color="{{headerimgcolor}}"
               {{/if}}
               data-mobile-image="{{mobileImage}}"
                {{#if isPost}}
                    data-social="true"
                {{/if}}>{{readMoreText}}</a>
        </div>
    </div>
</div>
