<div class="narrativeView js-narrativeView">
    <div class="narrativeDT">

        {{!-- For Sub Section CTAs --}}

        <ul class="narrativeDT-sections">
            <li class="narrativeDT-sections-item" data-feature="/assets/media/uploads/home_DT.jpg"></li>
            <li class="narrativeDT-sections-item" data-feature="/assets/media/uploads/mission_DT.jpg"></li>
            <li class="narrativeDT-sections-item" data-feature="/assets/media/uploads/approach_DT.jpg">
                <ul>
                    <li data-feature="/assets/media/uploads/approach_DT_02.jpg">
                        <div class="featureContent">
                            <a href="/approach/tertiary" class="tertiaryCta js-stateLink" data-type="titled" data-theme="approach" data-title="Internet.org App" data-desc="A really cool app that you can use to access facebook.">
                                Internet.org App
                                <span class="circleBtn circleBtn_themeApproach"></span>
                            </a>
                        </div>
                    </li>
                    <li data-feature="/assets/media/uploads/approach_DT_03.jpg">
                        <div class="featureContent">
                            <a href="/approach/tertiary" class="tertiaryCta js-stateLink" data-type="titled" data-theme="approach" data-title="Project Aquilla" data-desc="Solar Powered Drones!!!">
                                Project Aquilla
                                <span class="circleBtn circleBtn_themeApproach"></span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="narrativeDT-sections-item" data-feature="/assets/media/uploads/impact_DT.jpg">
                <ul>
                    <li data-feature="/assets/media/uploads/impact_DT_02.jpg">
                        <div class="featureContent">
                            <a href="https://vimeo.com/20949784" class="tertiaryCta js-videoModal">
                                See Maria’s Story
                                <span class="circleBtn circleBtn_themeImpact circleBtn_play"></span>
                            </a>
                        </div>
                    </li>
                    <li data-feature="/assets/media/uploads/impact_DT_03.jpg">
                        <div class="featureContent">
                            <a href="https://vimeo.com/20949784" class="tertiaryCta js-videoModal">
                                See Roshni’s Story
                                <span class="circleBtn circleBtn_themeImpact circleBtn_play"></span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="narrativeDT-sections-item" data-feature="/assets/media/uploads/contact_DT.jpg"></li>
        </ul>

        <div class="narrativeDT-inner">
            <div class="container">
                <div class="transformBlock js-transformBlock">
                    <div class="transformBlock-pre">
                        <div class="transformBlock-pre-item transformBlock-pre-item_divide">
                            <span class="bdcpy bdcpy_narrative mix-bdcpy_splash">Internet.org is</span>
                        </div>
                        <div class="transformBlock-pre-item">
                            <span class="bdcpy bdcpy_narrative mix-bdcpy_splash">Join us in</span>
                        </div>
                    </div>
                    <div class="transformBlock-stmnt">
                        <h2 class="hdg hdg_1 mix-hdg_splash">Connecting <br />the world</h2>
                    </div>
                    <div class="transformBlock-post">
                        <div class="transformBlock-post-item">
                            <div class="transformBlock-post-item-bd">
                                <p class="bdcpy bdcpy_narrative">means connecting the whole <br />world, not just some of us</p>
                            </div>
                            <a href="/mission" class="link link_themeMission js-stateLink" data-type="panel" data-theme="mission" data-title="Our Mission" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela eu ante vel vehicula." data-image="/assets/media/uploads/mission_DT.jpg">Our Mission</a>
                        </div>
                        <div class="transformBlock-post-item">
                            <div class="transformBlock-post-item-bd">
                                <p class="bdcpy bdcpy_narrative">takes inventing new ways <br />of doing things</p>
                            </div>
                            <a href="/approach" class="link link_themeApproach js-stateLink" data-type="panel" data-theme="approach" data-title="Our Approach" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela eu ante vel vehicula." data-image="/assets/media/uploads/approach_DT.jpg">Our Approach</a>
                        </div>
                        <div class="transformBlock-post-item">
                            <div class="transformBlock-post-item-bd">
                                <p class="bdcpy bdcpy_narrative">is already making <br />a difference</p>
                            </div>
                            <a href="/impact" class="link link_themeImpact js-stateLink" data-type="panel" data-theme="impact" data-title="Our Impact" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela eu ante vel vehicula." data-image="/assets/media/uploads/impact_DT.jpg">Our Impact</a>
                        </div>
                        <div class="transformBlock-post-item">
                            <div class="splashFooter">
                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get involved</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="/approach/tertiary" class="link link_preArrows js-stateLink" data-type="titled" data-title="Develop for Internet.org">Develop for Internet.org Platform</a>
                                            </li>
                                            <li>
                                                <a href="/approach/tertiary" class="link link_preArrows js-stateLink" data-type="titled" data-title="Careers">See our Careers</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get the latest</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="/press" class="link link_preArrows js-stateLink" data-type="titled" data-title="Press">Read the Press</a>
                                            </li>
                                            <li>
                                                <a href="//facebook.com/internet-org" class="link link_preArrows">Visit the Facebook Page</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get in touch</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="/contact" class="link link_preArrows js-stateLink" data-type="titled" data-title="Contact" data-desc="If you’re working on a project related to connectivity or just want to keep up with Internet.org, let us know.">Contact the Internet.org Team</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="narrative">
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('{{env.URL_BASE}}assets/media/uploads/home.jpg')"></div>
            </div>
            <div class="narrative-section-bd narrative-section-bd_low">
                <div class="container container_wide">
                    <div class="statementBlock statementBlock_start">
                        <div class="statementBlock-pre statementBlock-pre_divide">
                            <span class="bdcpy bdcpy_narrative mix-bdcpy_splash">Internet.org is</span>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1 mix-hdg_splash">Connecting <br />the world</h2>
                        </div>
                    </div>
                </div>
                <div class="narrative-section-bd-ft">
                    <a href="#" class="arrowCta arrowCta_light"></a>
                </div>
            </div>
        </div>
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('{{env.URL_BASE}}assets/media/uploads/mission.jpg')"></div>
            </div>
            <div class="narrative-section-bd">
                <div class="container container_wide">
                    <div class="statementBlock">
                        <div class="statementBlock-pre">
                            <h2 class="hdg hdg_heavy mix-hdg_themeMission">Our Mission</h2>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1">Connecting <br />the world</h2>
                        </div>
                        <div class="statementBlock-bd">
                            <p class="bdcpy bdcpy_narrative">means connecting the whole <br />world, not just some of us</p>
                        </div>
                    </div>
                </div>
                <div class="narrative-section-bd-link u-isHiddenMedium">
                    <a href="/mission" class="circleBtn circleBtn_themeMission js-stateLink" data-type="panel" data-theme="mission" data-title="Our Mission" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela eu ante vel vehicula." data-image="/assets/media/uploads/mission_DT.jpg">Our Mission</a>
                </div>
            </div>
        </div>
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('{{env.URL_BASE}}assets/media/uploads/approach.jpg')"></div>
                <div class="narrative-section-slides-item" style="background-image: url('{{env.URL_BASE}}assets/media/uploads/approach_02.jpg')">
                    <div class="narrative-section-slides-item-inner">
                        <a href="/approach/tertiary" class="tertiaryCta js-stateLink" data-type="titled" data-theme="approach" data-title="Internet.org App" data-desc="A really cool app that you can use to access facebook.">
                            Internet.org App
                            <span class="circleBtn circleBtn_themeApproach"></span>
                        </a>
                    </div>
                </div>
                <div class="narrative-section-slides-item" style="background-image: url('{{env.URL_BASE}}assets/media/uploads/approach_03.jpg')">
                    <div class="narrative-section-slides-item-inner">
                        <a href="/approach/tertiary" class="tertiaryCta js-stateLink" data-type="titled" data-theme="approach" data-title="Project Aquilla" data-desc="Solar Powered Drones!!!">
                            Project Aquilla
                            <span class="circleBtn circleBtn_themeApproach"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="narrative-section-bd">
                <div class="container container_wide">
                    <div class="statementBlock">
                        <div class="statementBlock-pre">
                            <h2 class="hdg hdg_heavy mix-hdg_themeApproach u-isHiddenMedium">Our Approach</h2>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1">Connecting <br />the world</h2>
                        </div>
                        <div class="statementBlock-bd">
                            <p class="bdcpy bdcpy_narrative">takes inventing new ways <br />of doing things</p>
                        </div>
                    </div>
                </div>
                <div class="narrative-section-bd-link u-isHiddenMedium">
                    <a href="/approach" class="circleBtn circleBtn_themeApproach js-stateLink" data-type="panel" data-theme="approach" data-title="Our Approach" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela eu ante vel vehicula." data-image="/assets/media/uploads/approach_DT.jpg">Our Approach</a>
                </div>
            </div>
        </div>
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('{{env.URL_BASE}}assets/media/uploads/impact.jpg')"></div>
                <div class="narrative-section-slides-item" style="background-image: url('{{env.URL_BASE}}assets/media/uploads/impact_02.jpg')">
                    <div class="narrative-section-slides-item-inner">
                        <a href="https://vimeo.com/20949784" class="tertiaryCta js-videoModal">
                            See Maria’s Story
                            <span class="circleBtn circleBtn_themeImpact circleBtn_play"></span>
                        </a>
                    </div>
                </div>
                <div class="narrative-section-slides-item" style="background-image: url('{{env.URL_BASE}}assets/media/uploads/impact_03.jpg')">
                    <div class="narrative-section-slides-item-inner">
                        <a href="https://vimeo.com/20949784" class="tertiaryCta js-videoModal">
                            See Roshni’s Story
                            <span class="circleBtn circleBtn_themeImpact circleBtn_play"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="narrative-section-bd">
                <div class="container container_wide">
                    <div class="statementBlock">
                        <div class="statementBlock-pre">
                            <h2 class="hdg hdg_heavy mix-hdg_themeImpact u-isHiddenMedium">Our Impact</h2>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1">Connecting <br />the world</h2>
                        </div>
                        <div class="statementBlock-bd">
                            <p class="bdcpy bdcpy_narrative">is already making <br />a difference</p>
                        </div>
                    </div>
                </div>
                <div class="narrative-section-bd-link u-isHiddenMedium">
                    <a href="/impact" class="circleBtn circleBtn_themeImpact js-stateLink" data-type="panel" data-theme="impact" data-title="Our Impact" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela eu ante vel vehicula." data-image="/assets/media/uploads/impact_DT.jpg">Our Impact</a>
                </div>
            </div>
        </div>
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('{{env.URL_BASE}}assets/media/uploads/contact.jpg')">
                    <div class="statementBlock statementBlock_end">
                        <div class="statementBlock-pre statementBlock-pre_divide">
                            <span class="bdcpy bdcpy_narrative mix-bdcpy_splash">Join us in</span>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1 mix-hdg_splash">Connecting <br />the world</h2>
                        </div>
                        <div class="statementBlock-bd">
                            <div class="splashFooter">
                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get involved</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="/approach/tertiary" class="link link_preArrows js-stateLink" data-type="titled" data-title="Develop for Internet.org">Develop for Internet.org Platform</a>
                                            </li>
                                            <li>
                                                <a href="/approach/tertiary" class="link link_preArrows js-stateLink" data-type="titled" data-title="Careers">See our Careers</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get the latest</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="/press" class="link link_preArrows js-stateLink" data-type="titled" data-title="Press">Read the Press</a>
                                            </li>
                                            <li>
                                                <a href="//facebook.com/internet-org" class="link link_preArrows">Visit the Facebook Page</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get in touch</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="/contact" class="link link_preArrows js-stateLink" data-type="titled" data-title="Contact" data-desc="If you’re working on a project related to connectivity or just want to keep up with Internet.org, let us know.">Contact the Internet.org Team</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="narrativeView-progress narrativeView-progress_isHidden">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
