<div class="resultsList-list-item">
    {{#if image}}
    <div class="media media_inline">
        <div class="media-figure">
            <a href="{{url}}"><div class="imgWrap isLoaded"><img src="{{image}}" alt="story image"></div></a>
        </div>
        <div class="media-bd">
    {{/if}}
    <div class="feature feature_tight">
        <div class="feature-hd">
            <a href="{{url}}"><h3 class="hdg hdg_4">{{{title}}}</h3></a>
        </div>
        <div class="feature-date">
            <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">{{{date}}}</div>
        </div>
        <div class="feature-bd">
            <p class="bdcpy">{{{desc}}}</p>
        </div>
        <div class="feature-cta">
            <a href="{{url}}" class="link link_sm js-stateLink" data-type="titled" data-title="{{title}}" data-date="{{date}}" data-social="true">{{readMoreText}}</a>
        </div>
    </div>
    {{#if image}}
        </div>
    </div>
    {{/if}}
</div>
