<div class="resultsList-list-item">
    <div class="feature feature_tight">
        <div class="feature-hd">
            <h2 class="hdg hdg_4">{{title}}</h2>
        </div>
        <div class="feature-bd">
            <p class="bdcpy">{{desc}}</p>
        </div>
        <div class="feature-cta">
            <a href="{{url}}" class="link mix-link_small js-stateLink" data-type="titled" data-title="{{title}}" data-desc="{{desc}}">Read More</a>
        </div>
    </div>
</div>
